/*************************************************************
                  MOBILE FIRST 
*************************************************************/

/* display tablet */

@media screen and (min-width: 391px) {
    /* allineamento container  */
  header .container,
  section .strategic-planning.container,
  section .testimonials.container {
    padding: 0 20px;
  }


  /* info section */
  .info .row {
    flex-direction: row;
    
  }
  
  .content-card {
    padding: 20px;
  }

  .info .big-card {
    width: calc(100% / 1.5 - 40px);
    margin: 20px;
  }

  .info .big-card img {
    width: 230px;
  }
  

  .info .little-card {
    width: calc(100% / 3 - 40px);
    margin: 20px;
  }
  /*/ info section */

  /* PLANNING SECTION  */
  .planning {
    padding: 50px 0;
  }
  .strategic-planning .left h2 {
    font-size: 3.5rem;
  } 
  /* /PLANNING SECTION  */

  /* TESTIMONIALS SECTION */
 .testimonials .text-top h2 {
  font-size: 2rem;
 }

 .testimonials .card {
  flex-direction: row;
  text-align: left;
 }

 .testimonials .card img {
  margin-right: 30px;
 }
  /* /TESTIMONIALS SECTION */

  /* WORK WHIT US */
  .work-whit-us .row {
    flex-direction: row;

  }
  .work-whit-us .card {
    width: calc(100% / 2 - 40px);
    margin: 20px;
  }

  .work-whit-us h2 {
   font-size: 2.2rem; 
  }
  /* /WORK WHIT US */
}
/* /display tablet */






/* DISPLAY DESKTOP */
@media screen and (min-width: 801px) {
   section .testimonials.container {
    padding-right: 20px;
   }
  header .menu .hamburgher {
    display: none;
  }

  header .menu .classic-menu {
    display: block;
  }

  header .menu .classic-menu a:hover {
    text-decoration: underline;
    color: black;
  }

  /* INFO SECTION */
  .info .big-card {
    display: flex;
  }

  .info .big-card .text-left {
    width: 50%;
  }
  .info .big-card .img-right {
    width: 50%;
    padding-left: 50px;
    align-self: flex-end;
  }
  /* /INFO SECTION */

  /* STRATEGIC SECTION */
  .strategic-planning {
    display: flex;
    align-items: flex-end;
    width: 45%;
  }

  .strategic-planning .left {
    width: 50%;
    margin-right: 60px;
    margin-top: 100px;
  }

  .strategic-planning .left img {
    margin-bottom: 110px;
  }

  .strategic-planning .right img {
    width: 250px;
  }
  .strategic-planning .right {
    width: 48%;
    margin-bottom: 50px;
  }

  .strategic-planning .left h2 {
    font-size: 1.8rem;
  }
  /* /STRATEGIC SECTION */

   /* TESTIMONIALS SECTION */
   .testimonials .text-top h2 {
    font-size: 2.5rem;
   }

   .testimonials .card img {
    margin-right: 70px;
   }
   /* /TESTIMONIALS SECTION */

    /* WORK WHIT US */
    .work-whit-us .card {
      width: calc(100% / 3 - 40px);
    }

    .work-whit-us h2 {
      font-size: 2.8rem; 
     }
    /* /WORK WHIT US */
}
/* /DISPLAY DESKTOP */