/*********************************************************
                          GENERAL
*********************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  line-height: 25px;
}
/*********************************************************
                          UTILITY
*********************************************************/
.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.container {
  width: 85%;
  max-width: 1200px;
}

.container-2 {
  width: 70%;
  max-width: 1100px;
}

.container, .container-2 {
  margin: 0 auto;
}
.card {
  border-radius: 20px;
}


/* COLOR */
.bg-lightblue {
  background-color: #0084FD;
}
.color-lightblue {
  color: #0084FD;
}

.bg-lightviolet {
  background-color: #9792E4;
}

.color-lightviolet {
  color: #9792E4;
}

.bg-white {
  background-color: white;
}
/* /COLOR */

/* BUTTON */
.btn {
  border-radius: 20px;
}
.button {
  padding: 10px 30px;
  display: inline-block;
}
.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  color: black;
}
/* /BUTTON */

/*********************************************************
                          HEADER
*********************************************************/
header {
  height: 75px;
  color: white;
  margin-bottom: 50px;
}

header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header i {
  font-size: 1.5rem;
}

header .classic-menu {
  display: none;
}

header ul {
  list-style: none;
}

header li {
  margin-left: 25px;
}

header li a {
  color: white;
}


header ul li:last-child a{
  color: #2E2E2E;
  padding: 10px 15px;
}

/*********************************************************
                          MAIN
*********************************************************/
section {
  margin-bottom: 50px;
}
/* INFO SECTION */
.info .row {
  flex-direction: column;
}

.info .card {
  margin-bottom: 20px; 
  padding: 20px 20px 0 20px;
  background-color: #B5DDFF;
}

.info  h2 {
  font-size: 1.3rem;
}

.info  p {
  font-size: 0.9rem;
  color: #5A6E7F;
  font-weight: bold;
}

.info h2,
.info p,
.info a,
.info .little-card i {
  margin-bottom: 30px;
}

.info .button {
  color: white;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.info img {
  display: block;
}

.info .little-card {
  text-align: center;
}

.info .little-card i {
  font-size: 4.5rem;
  
}
/* /INFO SECTION */

/* STRATEGIC PLANNING */
.strategic-planning {
  padding: 60px 0;
}

.strategic-planning .left {
  color: white;
}

.left img {
  margin-bottom: 80px;
}

.strategic-planning h2,
.strategic-planning p {
  margin-bottom: 40px;
}

.left p {
  font-size: 0.9rem;
}
.strategic-planning .right {
 border-radius: 50px;
 padding: 20px;
 text-align: center;
 color: #111111;
}

.right h2 {
  font-size: 1.3rem;
}

.right p {
  font-style: italic;
  color: #5A6E7F;
}

/* /STRATEGIC PLANNING */

/*********************************************************
                          FOOTER
*********************************************************/